* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #203739;
  --bg-secondary: #006b4d;
  --bg-optional: #21494b;
  --bg-red: #c61c36;
}

html {
  font-size: 62.25%;
}

body {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  background-color: #14213d;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}

nav {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 25px;
  align-items: center;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .45), transparent);
  z-index: 2;
}

nav h1 {
  text-shadow: 0 0 9px rgba(0, 0, 0, .35);
}

nav ul {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  gap: 9px;
}

.nav-btn {
  width: 40px;
  height: 40px;
  background-color: #0077b6;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 95%;
  height: calc(100vh * 0.95);
  padding: 15px;
  color: #fff;
  background-color: var(--bg-secondary);
  background: linear-gradient(140deg, rgba(32, 55, 57, 1) 31%, rgba(0, 107, 77, 1) 100%);
  border-radius: 1.65rem;
  border: 5px solid #fff;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .25);
  overflow: hidden;
}

.table-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4em;
}

.players {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: auto;
  padding: 25px 0;
  transform: translateX(-50%);
}

.player {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.player-box {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: .45rem;
  overflow: hidden;
}

.player .score {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #000;
  font-weight: bold;
  background-color: #f1c40f;
  border-radius: 50%;
}

.dealer {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px 0;
}

.action-btn {
  transition: all .5s ease;
}

.action-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .35);
  border: none;
  pointer-events: none;
  transition: all .5s linear;
}

.action-dialog[open] {
  pointer-events: inherit;
  opacity: 1;
}

.action-dialog:not([open]) {
  opacity: 0;
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 45px 0;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 1), transparent);
}

.actions-wrapper .title {
  font-size: 2.6rem;
  padding-bottom: 25px;
  font-weight: 600;
  color: var(--bg-optional);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .45);
  text-transform: uppercase;
}

.action-btn-wrapper {
  display: flex;
  gap: 25px;
}

.action-btn {
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 100px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  border: 4px solid rgba(0, 0, 0, .35);
  border-radius: .45rem;
  outline: 4px solid #f1c40f;
  cursor: pointer;
  overflow: hidden;
}

.action-btn.disabled::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
}

.action-btn.disabled {
  opacity: 1 !important;
  outline: 4px solid rgba(0, 0, 0, .45);
  cursor: not-allowed;
}

.action-btn.hit {
  background: linear-gradient(to top, #10451d, #1a7431);
}

.action-btn.stay {
  background: linear-gradient(to top, #641220, #85182a);
}

.action-btn:hover {
  opacity: .8;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 15px;
}

.stats {
  display: flex;
  padding: 15px;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.stat {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  gap: 15px;
  line-height: 1.4em;
  background-color: var(--bg-optional);
  border: 4px solid #fff;
  border-radius: 5rem;
  box-shadow: 0 0 9px 5px rgba(0, 0, 0, .35);
}

.stat span {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.stat strong {
  color: #f1c40f;
}

.cards {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards .cards-box {
  display: flex;
  width: 65px;
  height: 91px;
  background-color: rgba(0, 0, 0, .25);
}

.player-seat {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 9px;
}

.join-btn {
  display: flex;
  padding: 0 45px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .45rem;
  color: #222;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  background: linear-gradient(to top, #ED8F03, #FFB75E);
  border: 1px solid rgba(0, 0, 0, .45);
  cursor: pointer;
}

.join-btn:hover {
  opacity: .8;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

.col.center {
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 1px;
}

.cards-list {
  display: flex;
  min-width: 100%;
  height: 100%;
  list-style-type: none;
}

.cards-list li {
  min-width: 25px;
  height: 100%;
  transition: all .3s ease;
}

.cards-list:hover li {
  min-width: 25px;
}

.cards-list li:hover {
  min-width: 65px;
}

.card {
  width: 65px;
  height: 100%;
  background-color: white;
  border-radius: .65rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 4px;
  color: #000;
  border: 2px solid rgba(0, 0, 0, .15);
  position: relative;
  cursor: pointer;
}

.corner {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
}

.top-left {
  top: 5px;
  left: 5px;
  text-align: center;
}

.bottom-right {
  bottom: 5px;
  right: 5px;
  text-align: center;
  transform: rotate(180deg);
}

.suit {
  font-size: 20px;
  text-align: center;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .corner span {
  display: block;
  line-height: 1;
}

.card.mistery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: linear-gradient(90deg, transparent 50%, #f1c40f 50%), linear-gradient(0deg, transparent 50%, #f1c40f 50%);
  background-size: 14px 14px;
  background-color: #333;
  color: #f1f1f1;
  text-shadow: 0 2.5px 2px rgba(0, 0, 0, .55);
}

.chat-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding-top: 50px;
  background: linear-gradient(to top, rgba(0, 0, 0, .35) 40%, transparent);
  transition: all .5s ease;
}

.chat-wrapper.closed {
  left: -25%;
}

.chat-messages {
  flex-grow: 1;
  padding: 9px;
  overflow-y: scroll;
}

.message {
  display: block;
}

.message .author {
  display: inline-flex;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 15px;
}

.message .content {
  display: block;
  padding: 9px;
  border-radius: .35rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .85);
}

.chat {
  display: flex;
  width: 100%;
  height: auto;
}

.chat textarea {
  flex-grow: 1;
  height: 50px;
  font-family: "Roboto", serif;
  padding: 9px;
  background-color: rgba(0, 0, 0, .45);
  color: #fff;
  resize: none;
  border: none;
  outline: none;
}

.chat button {
  width: 50px;
  height: 50px;
  background-color: #0077b6;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

.close-chat {
  position: absolute;
  right: -60px;
  bottom: 5px;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .35);
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}